body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #800000, #b30000);
    margin: 0;
    padding: 0;
    display: flex;       
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container */
.container {
    width: 450px;
    margin: 120px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    text-align: center;
}

/* title */
h2 {
    color: #800000;
    margin-bottom: 20px;
}

/* type */
input, select {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* button */
button {
    width: 100%;
    padding: 12px;
    background: #800000;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #a00000;
}

/* Register link */
.top-right {
    text-align: right;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #800000;
    font-weight: bold;
}

.logo {
    display: block;
    width: 140px;
    margin-bottom: 0 auto 15px;
}

.back-btn {
    display: inline-block;  
    margin-top: 15px;

    padding: 6px 12px;       
    font-size: 14px;

    border: 1px solid #800000;
    border-radius: 6px;

    color: #800000;
    text-decoration: none;
}

.back-btn:hover {
    background: #800000;
    color: white;
}