<!DOCTYPE html>
<html>
<head>
    <title>Buyer Dashboard - Smart Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <img src="{{ url_for('static', filename='logo.PNG') }}" class="logo">
    
    <h2> Welcome, {{ first_name }}! </h2>
    <p style="color:#555;">You are logged in as a <b>Buyer</b></p>

    <!-- Profile link -->
    <a href="/profile" class="back-btn" style="display:block; text-align:center; margin-bottom:10px;">
        👤 View My Profile 
    </a>

    <a href="/logout" class="back-btn" style="display:block; text-align:center; color:red; border-color:red;">
         Logout 
    </a>
</div>
</body>
</html>