{% extends "base.html" %}

{% block title %}Home - SmartShop{% endblock %}

{% block content %}

<!-- 🔴 Banner -->
<div class="content">
  <div class="main-banner">
    <a href="/premium">
    <img src="{{ url_for('static', filename='images/banner1.png') }}">
    </a>
  </div>
</div>

<!-- 🔴 Categories -->
<div class="category-row">

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/laptop.png') }}">
    <p>Computers & Laptops</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/iphone.png') }}">
    <p>Mobiles & Tablets</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/home.jpg') }}">
    <p>Home Appliances</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/kitchen.png') }}">
    <p>Kitchen Appliances</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/digitalgadget.png') }}">
    <p>Digital Gadgets</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/men.jpg') }}">
    <p>Men Clothes</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/women.jpg') }}">
    <p>Women Clothes</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/toy.jpg') }}">
    <p>Baby & Toys</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/watch.png') }}">
    <p>Watches</p>
  </div>

</div>

<!-- 🔴 Popular Products -->
<section class="popular">
  <h2>Popular Products</h2>

  <div class="product-grid">

    <div class="product-card">
      <img src="{{ url_for('static', filename='images/.png') }}">
      <div class="info">
        <p class="brand">Apple</p>
        <p class="name">13-inch MacBook Neo</p>
        <p class="price">From RM2,499.00</p>
      </div>
    </div>

    <div class="product-card">
      <img src="{{ url_for('static', filename='images/.png') }}">
      <div class="info">
        <p class="brand">Apple</p>
        <p class="name">iPhone 17e</p>
        <p class="price">From RM2,949.00</p>
      </div>
    </div>

  </div>
</section>

{% endblock %}