{% extends "base.html" %}

{% block title %}Home - SmartShop{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div style="background-color: #ffcc00; color: #333; padding: 15px; text-align: center; font-weight: bold; margin-bottom: 20px;">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<!-- 🔴 Banner -->
<div class="content">

  <div class="main-banner">

    <a href="/premium">

      <img src="{{ url_for('static', filename='images/banner1.png') }}">

    </a>

  </div>

</div>


<!-- 🔴 Categories -->
<div class="category-row">

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/laptop.png') }}">
    <p>Computers & Laptops</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/iphone.png') }}">
    <p>Mobiles & Tablets</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/home.jpg') }}">
    <p>Home Appliances</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/kitchen.png') }}">
    <p>Kitchen Appliances</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/digitalgadget.png') }}">
    <p>Digital Gadgets</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/men.jpg') }}">
    <p>Men Clothes</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/women.jpg') }}">
    <p>Women Clothes</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/toy.jpg') }}">
    <p>Baby & Toys</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/watch.png') }}">
    <p>Watches</p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/.png') }}">
    <p></p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/.png') }}">
    <p></p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/.png') }}">
    <p></p>
  </div>

  <div class="category-item">
    <img src="{{ url_for('static', filename='images/.png') }}">
    <p></p>
  </div>

</div>


<!-- 🔴 Popular Products -->
<section class="popular">

  <h2>Popular Products</h2>

  <div class="product-grid">

    {% for product_id, product in products %}
    <div class="product-card">
      <a href="{{ url_for('product_detail', id=product_id) }}" style="text-decoration: none; color: inherit; display: block;">

      <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.name }}">

      <p>{{ product.name }}</p>
      <p>{{ product.price }}</p>

    </a>  
    </div>
    {% endfor %}

  </div>

</section>

{% endblock %}