<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    
    <a href="/login" class="back-btn">Back to Login</a>

    <img src="{{ url_for('static', filename='logo.png') }}" class="logo">

    <h2>Register</h2>

    <form method="POST">

        <input type="text" name="username" placeholder="Username" required>

        <input type="email" name="email" placeholder="Email" required>

        <input type="password" name="password" placeholder="Password" required>

        <select name="role" id="role" onchange="toggleLocation()">
         <option value="buyer">Buyer</option>
         <option value="seller">Seller</option>
        </select>

        <div id="locationField" style="display: none;">
          <input type="text" name="location" placeholder="Location">
        </div>

        <button type="submit">Register</button>

    </form>

</div>
 <script>
function toggleLocation() {
    var role = document.getElementById("role").value;
    var locationField = document.getElementById("locationField");

    if (role === "seller") {
        locationField.style.display = "block";
    } else {
        locationField.style.display = "none";
    }
}
window.onload = function() {
    toggleLocation();
};
</script>
</body>
</html>